body{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

article{
    background-image: url(../img/back.jpg);
    background-position: cover;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.home{
    background-image: url(../img/back_home.png);
    height: 50px;
    width: 50px;
    background-size: cover;
    background-position: center;
    margin: 20px;
    margin-bottom: 25px;
}

.home:hover{
    background-image: url(../img/back_home1.png);
}

.nome,.cognome,.email,.username{
    background-color: white;
    border-radius: 10px;
    width:370px;
    height: 40px;
    margin:20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

article div p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin:0;
    margin-left: 10px;
}

.yours{
    font-family: 'Cabin Sketch', sans-serif;
    font-size: 35px;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 60px 100px 30px 100px;
}



.yours strong{
    color:#ab0d17;
}

.pencil{
    background-image: url(../img/pencil.png);
    background-size: cover;
    background-position: center;
    width: 37px;
    height: 37px;
    margin-right: 10px;
}

.pencil:hover{
    background-image: url(../img/pencil1.png);
}

#new_email.hidden, #new_username.hidden{
    display: none;
}

#new_email form, #new_username form{
    background-color: white;
    border-radius: 7px;
    width:250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:5px;
}

input[type="text"]{
    width: 300px;
    margin-left: 10px;
    background-color:rgba(255, 255, 255, 0);
    font-family: 'Ubuntu', sans-serif;
    border: 0;
    font-size: 15px;
}
  
  
input[type="text"]:focus{
    outline-width: 0;
}

#new_email img, #new_username img{
    width:24px;
    height: 24px;
    margin-right: 10px;
}

span{
    width: 260px;
    display: block;
    text-align: end;
    color: #ab0d17;
    margin-bottom: 20px;
    font-family: 'Ubuntu',sans-serif;
    font-size: 12px;
}

.drop{
    width:200px;
    height: 40px;
    background-color: #ffffff00;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0px 60px;
}


.drop a{
    font-family: 'Ubuntu',sans-serif;
    color:#fcfcfc;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid white;
    padding:10px;
    font-size: 20px;
}

.drop a:hover{
    color:#ab0d17;
    border: 2px solid #ab0d17;
}

@media(max-width: 750px){
    .yours{
    font-size: 30px;
    margin: 60px 50px 30px 50px;
    }
}

@media(max-width: 580px){
    .home{
        margin: 10px;
        margin-bottom: 20px;
    }

    .yours{
        margin: 60px 20px 30px 20px;
    }

    .nome, .cognome, .email, .username {
        width: 300px;
    }

    .pencil{
        width: 30px;
        height: 30px;
    }

    article div p{
        font-size: 17px;
    }
    
}

@media(max-width: 340px){
    .nome, .cognome, .email, .username {
        width: 270px;
    }

    .yours{
        font-size: 25px;
    }

    .nome, .cognome, .email, .username {
        width: 230px;
    }

    article div p{
        font-size: 14px;
    }

    .pencil{
        width: 20px;
        height: 20px;
    }

    .home{
        height: 40px;
        width: 50px;
    }

    .drop a{
        font-size: 15px;

    }
}
